
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bokeh Plot</title>
        
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
    </head>
    <body>
        
        <div class="plotdiv" id="1d283fab-090c-477e-acbb-d4bd77cf9e05"></div>
        
        <script type="text/javascript">
            Bokeh.$(function() {
            var docs_json = {"6f0c31a6-98b3-4460-b04f-0a67f103abe7":{"roots":{"references":[{"attributes":{"children":[{"id":"ee0329ed-cec9-48a3-8c16-1c049f29daef","type":"Dropdown"}]},"id":"4b829c0c-87d3-44e9-b18f-4beddd170249","type":"VBoxForm"},{"attributes":{"callback":null,"icon":null,"label":"Dropdown button","menu":[["Item 1","item_1"],["Item 2","item_2"],null,["Item 3","item_3"]],"type":"warning"},"id":"ee0329ed-cec9-48a3-8c16-1c049f29daef","type":"Dropdown"}],"root_ids":["4b829c0c-87d3-44e9-b18f-4beddd170249"]},"title":"Bokeh Application","version":"0.11.1"}};
            var render_items = [{"docid":"6f0c31a6-98b3-4460-b04f-0a67f103abe7","elementid":"1d283fab-090c-477e-acbb-d4bd77cf9e05","modelid":"4b829c0c-87d3-44e9-b18f-4beddd170249"}];
            
            Bokeh.embed.embed_items(docs_json, render_items);
        });
        </script>
    </body>
</html>