
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bokeh Plot</title>
        
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
    </head>
    <body>
        
        <div class="plotdiv" id="7fbcf49f-fba4-43b2-a34f-510ced6a8960"></div>
        
        <script type="text/javascript">
            Bokeh.$(function() {
            var docs_json = {"243c16cc-41c4-4860-85d3-19cf007d6a47":{"roots":{"references":[{"attributes":{"children":[{"id":"aa1967f1-a271-4d73-b0d7-8f421aafa50c","type":"Select"}]},"id":"d815e3ad-fc2c-4f44-9b5a-c2836eb88a36","type":"VBoxForm"},{"attributes":{"callback":null,"options":["MA","AL","GA","TN","FL","VA"],"title":"Option:","value":"State"},"id":"aa1967f1-a271-4d73-b0d7-8f421aafa50c","type":"Select"}],"root_ids":["d815e3ad-fc2c-4f44-9b5a-c2836eb88a36"]},"title":"Bokeh Application","version":"0.11.1"}};
            var render_items = [{"docid":"243c16cc-41c4-4860-85d3-19cf007d6a47","elementid":"7fbcf49f-fba4-43b2-a34f-510ced6a8960","modelid":"d815e3ad-fc2c-4f44-9b5a-c2836eb88a36"}];
            
            Bokeh.embed.embed_items(docs_json, render_items);
        });
        </script>
    </body>
</html>