<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tab|safe }}</title>
    <style>body {background-color: #D3D3D3;}</style>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
    </nav>
    <h1>{{ title|safe }} - {{ state|safe }}</h1>
    <p>{{ desc|safe }}</p>

    {{ the_div|safe }}

    {{ the_script|safe }}
</body>
</html> 

